

<body>
  <h3>Hello JiHeZhiZao!</h3>
 <a href="uploadPattern">Upload</a><br>
 <a href="download">Download</a>
 
  <form method="POST" enctype="multipart/form-data" action="/uploadPattern">
          File:<input type="file" name="file" />
       <input type="submit" value="Upload" />
  </form>
</body>